
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
    
}
a {
    text-decoration: none;
    color: #007bff;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.header{
    text-align: center;
    background-color: #ddd;
    padding: 20px 0;
}
.main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.left-section, .right-section {
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
}
.right-section {
    flex: 80%;
    border-left: 2px solid #ccc;
}
h2 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 15px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.education p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    line-height: 1.2; /* Adjust line height for education section */
}
h1 {
    font-size: 21px;
    margin-bottom: 10px;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(95, 29, 237);
    margin: 5px 0; /* Adjust margin for consistency */
}
ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;
}
p{
    font-size: 12px;}
